$container-columns: 12
$border-box-sizing: false

@import ../../vendor/css/bourbon
@import ../../vendor/css/neat

$red: #b61521
$teal: #01bab5
$yellow: #cdd94a
$beige: #fcf4d6
$lime: #a6d01d
$darkgrey: #212121

$txt: #30303a
$background: #fff

$pad: 20px

= hr($position: after)
  &:#{$position}
    content: ''
    display: block
    width: 100%
    height: 0
    @content

= navbar-box
  &
    background: white
    box-shadow: 0 1px 3px rgba(black, 0.2)

  &:before
    $size: 20px
    content: ''
    display: block

    position: absolute
    left: -2*$size
    top: 0

    border: solid $size transparent
    border-right-color: white

= pointer-events($val)
  -webkit-pointer-events: $val
  -moz-pointer-events: $val
  -ms-pointer-events: $val
  pointer-events: $val

