@import common
@import utils/typography
@import utils/respond

// ----------------------------------------------------------------------------
// Navigation box

$size: 40px

.navigation
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 20
  +transition(200ms ease)

  > .content
    padding-top: 10px
    padding-bottom: 10px

  // Link hover effect
  &
    +transform(translate3d(0, 30px, 0))
    +pointer-events(none)
    .links
      opacity: 0
  &.show-links
    +transform(translate3d(0, 0, 0))
    +pointer-events(auto)
    .links
      opacity: 1

  // Disappear on mobile
  @media (max-width: 480px)
    display: none

  // Pin to top on tablet
  @media (max-width: 768px)
    position: relative
    +pointer-events(auto)
    +transform(translate3d(0, 0, 0))
    background-color: $red*0.5
    .links
      opacity: 1

  // Big desktop: move a little to the left
  @media (min-width: 1100px)
    .content
      +transform(translate(-80px, 0))

  .navigation-bar
    margin-top: 0

.navigation-bar
  &
    +clearfix

  .logo
    width: $size * 1.2
    height: $size
    line-height: $size
    text-align: center

    +respond(margin-right, 0, auto, $pad*2 - $size*0.2)

    color: $red
    background: $darkgrey * 0.9

    display: block
    float: left
    overflow: hidden

  .logo span
    display: block
    width: 48px
    height: 160px
    background: url(../images/logos.png)
    background-size: 100% auto
    +transform(translate3d(0,-40px * 3,0))
    +transition(200ms ease)

    .section-top &
      +transform(translate3d(0,-40px * 0,0))
    .section-speakers &
      +transform(translate3d(0,-40px * 1,0))
    .section-schedule &,
    .section-tickets &,
    .section-faq &
      +transform(translate3d(0,-40px * 2,0))

/* ----------------------------------------------------------------------------------
 * Navigation links
 */

.navigation-bar .links
  &
    +transition(300ms ease)
    +transform(translate3d(0,0,0))

    display: block
    position: relative

    height: 40px
    line-height: 40px
    +clearfix
    float: left
    padding-right: 10px

  +navbar-box($slate)

  @media (max-width: 1100px)
    &:before
      display: none

  li
    display: inline

  // Individual links
  // ----------------

  a
    display: block
    float: left

    padding: 0 10px
    font-size: 0.9em
    +lite-type
    color: mix($slate, white, 20%)
    text-shadow: 0 0 3px rgba(black, 0.1)

  a:hover
    background: rgba(white, 0.1)
    color: white

  a.active
    background: $teal
    color: white
    text-shadow: 0 1px 3px rgba(black, 0.3)

// Hide speakers
// -------------

.navigation-bar
  &
    a[href="#speakers"], .speaker-link a
      +transition(200ms ease)
      overflow: hidden

    a[href="#speakers"]
      width: 80px
      padding-left: 0
      padding-right: 0
      text-align: center

    .speaker-link a
      width: 0
      padding: 5px 0

  &.show-speakers
    a[href="#speakers"]
      width: 0
    .speaker-link a
      width: 36px

.navigation-bar li.speaker-link
  a:hover
    background: transparent

  a:hover img
    border-color: rgba($teal, 0.4)
    opacity: 0.8

  a.active
    background: transparent

  a.active img
    border-color: $teal
    opacity: 1

  img
    display: block
    margin: 0 auto

    width: 30px
    height: 30px
    border: solid 2px #ccc
    // box-shadow: 0 2px 3px rgba(black, 0.2)
    opacity: 0.2

