@import common
@import utils/typography

// ----------------------------------------------------------------------------
// Navigation box

$size: 40px

.navigation
  position: fixed
  top: 20px
  left: 0
  width: 100%
  z-index: 20

  background-color: rgba(black, 0.3)
  +transition(200ms ease)

  > .content
    padding: 20px 0

  // Disappear
  @media (max-width: 1100px)
    display: none

  .navigation-bar
    margin-top: 0
    margin-left: -40px

  &
    background-color: rgba(black, 0.0)
    .links
      opacity: 0
  &.show-links
    background-color: rgba(black, 0.1)
    .links
      opacity: 1

.navigation-bar
  &
    +clearfix

  .logo
    width: $size
    height: $size
    line-height: $size
    text-align: center

    margin-right: $pad*2

    color: $red
    background: $darkgrey * 0.9
    // box-shadow: 4px 4px 0 rgba(black, 0.3)

    display: block
    float: left

    &:before
      content: 'GM'
      font-weight: bold

.navigation-bar .links
  &
    +transition(300ms ease)
    +transform(translate3d(0,0,0))

    display: block
    box-shadow: 0 1px 3px rgba(black, 0.3)
    position: relative

    height: 40px
    line-height: 40px
    +clearfix
    background: white
    float: left
    padding: 0 10px

  // Notch
  // -----

  &:before
    $size: 20px
    content: ''
    display: block

    position: absolute
    left: -2*$size
    top: 0

    border: solid $size transparent
    border-right-color: white

  li
    display: inline

  // Individual links
  // ----------------

  a
    display: block
    float: left

    padding: 0 10px
    font-size: 0.9em
    +lite-type
    color: $txt

  a:hover
    background: mix($lime, white, 10%)
    color: $teal

  a.active
    background: $teal
    color: white
    text-shadow: 0 1px 3px rgba(black, 0.3)
