@import common
@import utils/typography
@import utils/fontawesome
@import utils/overlay
@import utils/respond

/* ----------------------------------------------------------------------------------
 * Speakers section (.section.speakers):
 * Section with the speakers.
 */
.speakers
  &
    background: $darkgrey
    position: relative

  +respond(padding-top, 0, $pad*5, $pad*10)
  +respond(padding-bottom, $pad, $pad*5, $pad*10)

  .heading
    color: $yellow

  .heading h2:after
    border-top-color: $yellow

  @media (min-width: 480px) /* Tablet & Desktop */
    .heading
      display: none

/* ----------------------------------------------------------------------------------
 * Scroll guides
 */

.speakers.magic
  padding-top: 0 !important
  padding-bottom: 0 !important

  .speaker:before,
  .speaker:after
    content: ''
    display: block
    position: absolute

  // Small ticks
  .speaker:before
    top: 0
    left: 15px

    width: 10px
    height: 100%
    +background-image(linear-gradient(top, white 0px, rgba(black, 0.3) 1px, rgba(white, 0.0) 2px, rgba(white, 0.0)))
    background-size: 20px 20px

  // Large ticks
  .speaker:after
    bottom: 0
    left: 10px

    width: 20px
    height: 2px
    background: white
    box-shadow: 0 0 6px rgba(black, 0.4)
    
.speakers.magic
  .speaker
    -webkit-pointer-events: none
    -moz-pointer-events: none
    pointer-events: none

  .info.name
    display: none

/* ----------------------------------------------------------------------------------
 * Background
 */

.speakers >.bg
  @media (max-width: 480px) /* Mobile */
    display: none

  // Content goes into
  .content
    padding-top: $pad*2
    position: relative
    z-index: 20
    height: 100%

  &
    background: $darkgrey
    width: 100%
    height: 100%

    position: fixed
    top: 0
    left: 0
    z-index: 0

  .item
    position: relative
    overflow: hidden
    border-top: solid 2px white

  .items
    +transition(600ms ease)

  .item:after
    +overlay(10)
    +background-image(linear-gradient(top, rgba(black, 0.0) 50%, rgba($teal*0.1, 0.7)))

  // .item:before
  //   +overlay(10)
  //   background: url(../images/bg-screen.png)

/*
 * Background fading
 */

.speakers >.bg
  opacity: 0.01
  +transition(opacity 500ms linear)

  .section-schedule &,
  .section-tickets &,
  .section-speakers &
    opacity: 1.0

/*
 * Fancy movement
 * The <html> elements gets `.section-speaker-0` classes, make it react
 * accordingly
 */

.speakers
  $i: 0
  $max: 6
  @while $i < $max
    .section-speaker-#{$i} & .items
      +transform(translate3d(0, 100% * -$i/$max, 0))
    $i: $i+1

  // Caps
  .section-top & .items
    +transform(translate3d(0, 0, 0))
  .section-tickets & .items,
  .section-schedule & .items
    +transform(translate3d(0, 100% * -($max - 1)/$max, 0))

/* ----------------------------------------------------------------------------------
 * Individual speaker (.speakers.section .speaker)
 */

.speaker
  @media (max-width: 480px) /* Mobile */
    margin-bottom: $pad/2
    &:last-child
      margin-bottom: 0

  // Actually, this is set via JS anyway
  @media (min-width: 480px) /* Tablet & Desktop */
    min-height: 750px

.speaker-bio
  background: white
  max-width: 300px
  position: relative

/* ----------------------------------------------------------------------------------
 * Whoisit heading
 */

.whoisit
  color: white
  text-shadow: 0 0 14px rgba(black, 0.3)
  +transform(translate3d(0, 0, 0))

  h3
    font-size: 5em
    +heading-type

  p
    font-size: 1.1em
    +subheading-type
    color: $beige
    display: inline-block
    margin-right: 40px
    margin-top: 20px

  p:before
    content: ''
    display: block
    width: 20px
    height: 1px
    background: teal
    margin-bottom: 10px

  p:first-of-type
    color: $yellow

.whoisit
  position: absolute
  bottom: 60px
  left: 40px

/* ----------------------------------------------------------------------------------
 * Speaker avatar
 */

.speaker-bio .image
  &
    width: 140px
    height: 140px
    background: $red
    overflow: hidden
    position: relative
    z-index: 10

  @media (max-width: 480px) /* Mobile */
    float: right
    width: 90px
    height: 90px
    margin: $pad
    margin-top: -50px
    +box-sizing(content-box)
    padding: 4px
    background: white

    &, img
      border-radius: 50%

  @media (min-width: 480px) /* Tablet & Desktop */
    position: absolute
    top: 0
    right: -140px

  img
    display: block
    width: 100%
    height: 100%

  // Fading thing
  @media (min-width: 480px) /* Tablet & Desktop */
    img
      opacity: 0.3
      +transition(opacity 50ms linear)

    &:hover img
      opacity: 1

/*
 * Separation of subsections
 */

.speaker-bio
  @media (max-width: 480px) /* Mobile */
    .info
      padding: 20px
    .info+.info
      padding-top: 0

  @media (min-width: 480px) /* Tablet & Desktop */
    .info
      padding: 20px
    .info+.info
      border-top: solid 1px #eee

/*
 * Biography
 */

.speaker-bio
  .bio
    +respond(font-size, 1em, 0.9em)
    +respond(line-height, 1.5, 1.6)

  .bio p + p
    margin-top: 10px

  // Name
  h3
    +heading-type
    font-size: 1.9em
    color: $teal
    line-height: 1.3

  .name p
    +subheading-type
    color: $lime
    line-height: 1.4

  .name p.who
    font-weight: bold

/* ----------------------------------------------------------------------------------
 * External links:
 * Twitter and Facebook links and such.
 *
 *     .ext-links
 *       %a{href: 'tumblr.com/x'}
 */

.ext-links
  a
    display: inline-block
    margin-right: 5px

    +box-sizing(border-box)
    width: 40px
    height: 40px
    line-height: 40px
    text-align: center

    border: solid 2px $lime
    color: $lime
    border-radius: 50%

    +fa-icon(link, 14px, $top: -2px)

  @media (max-width: 480px) /* Mobile */
    a
      border-width: 1px

  // Colors
  // ------

  a:hover
    background: $lime
    color: white

  a:active
    background: $darkgrey
    border-color: $darkgrey

  // Fancy icons
  // -----------

  a[href*='twitter.com']:before
    @extend %fa-twitter
    
  a[href*='dribbble.com']:before
    @extend %fa-dribbble
    
  a[href*='youtube.com']:before
    @extend %fa-youtube-play
    
  a[href*='flickr']:before
    @extend %fa-flickr

  a[href*='tumblr.com']:before
    @extend %fa-tumblr

  a[href*='facebook.com']:before
    @extend %fa-facebook
   
/* ----------------------------------------------------------------------------------
 * Speaker: sample work
 */

.speaker-bio .sample-work
  @media (min-width: 480px) /* Tablet & Desktop */
    display: none

  height: 250px
  width: 100%
  position: relative
  overflow: hidden

  img
    height: 100%

  &:after
    +overlay(10)
    +background-image(linear-gradient(top, rgba(black, 0.0) 50%, rgba(black, 0.2)))
