@import common
@import utils/typography
@import utils/fontawesome
@import utils/respond

/* ----------------------------------------------------------------------------------
 * Main title (.title-card.section):
 * The top section.
 */

.title-card
  background-color: $red
  color: $beige
  // text-shadow: 1px 1px $red, 2px 2px $red, 3px 3px $red, 4px 4px $red, 5px 5px $red, 6px 6px $red, -1px -1px $red, 1px -1px $red, -1px 1px $red
  text-shadow: 0 0 5px $red
  box-shadow: 0 0 8px rgba(black, 0.4)

  // Use a CSS background for mobile, and hide the video
  @media (max-width: 480px) /* Mobile */
    .backdrop > *
      display: none

    > .backdrop
      display: block
      opacity: 0.8
      background-image: url(../images/bg-title-m.jpg)
      background-size: 100% auto
      background-position: center top
      background-repeat: no-repeat

  .content
    position: relative
    z-index: 5
    padding-top: $pad*2
    padding-bottom: $pad*2

    @media (max-width: 480px) /* Mobile */
      padding-bottom: $pad

/* ----------------------------------------------------------------------------------
 * Title logo
 * The logo image thing.
 */

.title-card .logo
  $r: 800/275

  height: auto
  +respond(width, 270px, 66%, 49%)
  +respond(margin, 50px auto 80px auto, 0 0 40px 0, 0 0 60px 0)

  img
    width: 100%

/* ----------------------------------------------------------------------------------
 * Share links:
 * Facebook and twitter buttons.
 */

.share-links
  > *
    display: inline-block

  &
    text-shadow: none

  // White background on desktop
  @media (min-width: 481px) /* Tablet & Desktop */
    +navbar-box
    padding: 10px
    box-shadow: 0 1px 2px rgba(black, 0.2)
    height: 40px
    max-width: 280px

  // No notch
  @media (max-width: 1100px)
    &:before
      display: none

  // Positioning
  @media (min-width: 481px) /* Tablet & Desktop */
    position: absolute
    top: 40px
    left: 40px

  @media (max-width: 480px) /* Mobile */
    margin-top: -$pad
    text-align: center

/* ----------------------------------------------------------------------------------
 * Details:
 * "Conference on creativity" etc
 */

$line-color: saturate(mix($beige, $red, 50%), 80%)

.title-card > .content
  height: 100%

.title-card .details
  clear: both
  +clearfix
  +respond(margin-top, $pad*2, auto)

  @media (min-width: 769px) // desktop
    width: 100%
    position: absolute
    left: $pad * 2
    bottom: $pad *2

.title-card .detail
  &
    border-top: solid 2px $line-color
    margin-right: $pad
    padding-top: $pad/2
    line-height: 1.4
    padding-bottom: $pad

  @media (min-width: 481px) /* Tablet & Desktop */
    padding-bottom: $pad*2

  em, strong
    display: block

  // "Saturday"
  strong, h2
    +heading-type
    display: block

    +respond(font-size, 1.2em, 1.3em, 1.6em)

  em
    +subheading-type
    color: $lime
    font-size: 1.1em

    @media (max-width: 480px) /* Mobile */
      color: $line-color

/* ----------------------------------------------------------------------------------
 * Arrangements
 */

.title-card .detail
  &.date, &.venue
    float: left

    & /* Mobile */
      +span-columns(4 of 8)

    @media (min-width: 481px) /* Tablet */
      +span-columns(4 of 12)

    @media (min-width: 769px) /* Desktop */
      +span-columns(3 of 12)

  &.date
    clear: both

  &.summary
    +respond(margin-bottom, $pad*0.5, $pad)

    @media (max-width: 480px) /* Mobile */
      margin-right: 0

    @media (min-width: 481px) /* Tablet */
      +span-columns(8 of 12)

    @media (min-width: 769px) /* Desktop */
      +span-columns(6 of 12)


/* ----------------------------------------------------------------------------------
 * Summary
 * "Conference on creativity"
 */

.title-card .detail.summary
  &
    line-height: 1.3

  // "Conference on creativity"
  // --------------------------

  h2
    +heading-type
    line-height: 1.1
    color: $lime

    +respond(font-size, 2em, 3em, 3em)
    +respond(line-height, 1.3, 1.2, 1.1)

  // List of speakers

  .speakers
    +subheading-type
    +respond(font-size, 1em, 1.2em, 1.5em)

  .speakers-list
    margin: 0.3em 0

.title-card .speakers-list
  +subheading-type

  li
    display: inline
    white-space: nowrap
    text-wrap: none
    word-wrap: none

  li:after
    content: '\2219'
    margin: 0 5px
    color: $lime
    opacity: 0.8

  li:last-child:after
    display: none

/* ----------------------------------------------------------------------------------
 * Bounce icon
 */

@media (max-width: 480px) // mobile
  .title-card .bounce-icon
    display: none

.title-card .bounce-icon
  +animation(bounce-icon 700ms linear infinite)
  position: absolute
  bottom: 40px
  left: 50%
  margin-left: -5px

  &:before
    content: ''
    display: block
    width: 30px
    height: 30px
    border-right: solid 1px white
    border-bottom: solid 1px white
    +transform(rotate(45deg))

+keyframes(bounce-icon)
  0%
    +transform(translate3d(0, -10px, 0))
    opacity: 1
  80%
    +transform(translate3d(0, 10px, 0))
    opacity: 0
  100%
    +transform(translate3d(0, -10px, 0))
    opacity: 0
