html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  background: transparent; }

@font-face {
  font-family: "FontAwesome";
  src: url("//netdna.bootstrapcdn.com/font-awesome/4.0.1/fonts/fontawesome-webfont.eot?v=4.0.1");
  src: url("//netdna.bootstrapcdn.com/font-awesome/4.0.1/fonts/fontawesome-webfont.eot?#iefix&v=4.0.1") format("embedded-opentype"), url("//netdna.bootstrapcdn.com/font-awesome/4.0.1/fonts/fontawesome-webfont.woff?v=4.0.1") format("woff"), url("//netdna.bootstrapcdn.com/font-awesome/4.0.1/fonts/fontawesome-webfont.ttf?v=4.0.1") format("truetype"), url("//netdna.bootstrapcdn.com/font-awesome/4.0.1/fonts/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input:focus, select:focus {
  outline: 0; }

html {
  color: #30303a;
  background: white;
  font-size: 14px;
  overflow-y: scroll; }
  @media (max-width: 480px) {
    html {
      font-size: 13px; } }

html, body {
  height: 100%; }

body {
  line-height: 1.5; }

body, td, input, textarea, select, button {
  font-family: oxygen, sans-serif;
  font-weight: 400; }

a {
  color: #b61521;
  text-decoration: none;
  -webkit-transition: color 40ms linear;
  -moz-transition: color 40ms linear;
  transition: color 40ms linear; }

.fillsize {
  position: relative;
  overflow: hidden; }

.section.tickets, .section.faq, .section.schedule, .section.about, .section.contact {
  border-top: solid 1px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 4px 5px -4px rgba(0, 0, 0, 0.1);
  background-color: white; }
  .section.tickets, .section.faq, .section.schedule, .section.about, .section.contact {
    padding-top: 20px; }
  @media (min-width: 480px) {
    .section.tickets, .section.faq, .section.schedule, .section.about, .section.contact {
      padding-top: 140px; } }
  .section.tickets, .section.faq, .section.schedule, .section.about, .section.contact {
    padding-bottom: 20px; }
  @media (min-width: 480px) {
    .section.tickets, .section.faq, .section.schedule, .section.about, .section.contact {
      padding-bottom: 140px; } }
.section {
  position: relative;
  z-index: 10; }
.section > .backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }
  .section > .backdrop video {
    width: 100%; }
  @media (max-width: 480px) {
    .section > .backdrop {
      display: none; } }
.section > .content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 10; }
  .section > .content:after {
    content: "";
    display: table;
    clear: both; }
  .section > .content {
    padding-left: 10px;
    padding-right: 10px; }
  @media (min-width: 480px) {
    .section > .content {
      padding-left: 40px;
      padding-right: 40px; } }

/* ----------------------------------------------------------------------------------
 * Temporarily disable other stuff
 */
@media (max-width: 480px) {
  .section.speakers, .section.about, .section.faq, .section.contact {
    display: none !important; } }

.heading {
  font-size: 2.5em; }
  .heading {
    padding: 20px 0; }
  @media (min-width: 480px) {
    .heading {
      padding: 40px 0; } }
  .heading {
    font-size: 1.8em; }
  @media (min-width: 480px) {
    .heading {
      font-size: 2.2em; } }
  @media (min-width: 768px) {
    .heading {
      font-size: 2.5em; } }
  .heading h2 {
    font-family: oswald, sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    .heading h2:after {
      content: "";
      display: block;
      width: 100%;
      height: 0;
      border-top: solid 1px rgba(0, 0, 0, 0.1); }
      .heading h2:after {
        margin-top: 10px; }
      @media (min-width: 480px) {
        .heading h2:after {
          margin-top: 20px; } }

.faq-list ul:after {
  content: "";
  display: table;
  clear: both; }
.faq-list li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  border-top: solid 2px #01bab5;
  padding-top: 20px;
  margin-bottom: 40px; }
  .faq-list li:last-child {
    margin-right: 0; }
.faq-list strong {
  display: block;
  font-family: oswald, sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2em;
  color: #01bab5; }
.faq-list p {
  display: none;
  padding-bottom: 20px; }
.faq-list li.active p {
  display: block; }

.section.about, .section.contact {
  background: #212121;
  color: #999999; }
  .section.about h2, .section.contact h2 {
    color: #fcf4d6; }
  .section.about p, .section.contact p {
    width: 66%;
    margin-bottom: 20px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20; }
  .navigation .navigation-bar {
    margin-top: 40px;
    margin-left: -80px; }
    @media (max-width: 1100px) {
      .navigation .navigation-bar {
        display: none; } }

.navigation-bar .logo {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-right: 40px;
  color: #b61521;
  background: #1d1d1d;
  display: block;
  float: left; }
  .navigation-bar .logo:before {
    content: "GM";
    font-weight: bold; }
.navigation-bar .links {
  display: block;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  background: white;
  float: left;
  padding: 0 10px; }
  .navigation-bar .links li {
    display: inline; }
  .navigation-bar .links a {
    display: block;
    float: left;
    padding: 0 10px;
    font-size: 0.9em;
    font-family: oswald, sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #30303a; }

.navigation .links {
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  transition: 300ms ease; }
.navigation .links {
  opacity: 0;
  -webkit-transform: translate3d(-10px, 0, 0);
  -moz-transform: translate3d(-10px, 0, 0);
  -ms-transform: translate3d(-10px, 0, 0);
  -o-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0); }
.navigation.show-links .links {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.section.schedule .map-link:before, .section.schedule .ext-link:before, .schedule-cards dt:after {
  line-height: 1em;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale; }

.section.schedule .map-link:before {
  content: "\f041"; }

.section.schedule .ext-link:before {
  content: "\f0c1"; }

.schedule-cards dt:after {
  content: "\f105"; }

.section.schedule {
  background-image: url(../images/bg-doodle.jpg);
  background-size: 500px auto; }
  .section.schedule .heading h2 em {
    margin-left: 20px;
    color: #01bab5; }
  .section.schedule .column {
    margin-bottom: 20px; }
  .section.schedule .map.column {
    background: #eeeeee;
    border: solid 4px white;
    box-shadow: 0 0 0 3px #eeeeee; }
    .section.schedule .map.column {
      height: 150px; }
    @media (min-width: 480px) {
      .section.schedule .map.column {
        height: 300px; } }
  @media (min-width: 480px) {
    .section.schedule .map.column {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .section.schedule .map.column:last-child {
        margin-right: 0; }
    .section.schedule .info.column {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      padding-left: 20px; }
      .section.schedule .info.column:last-child {
        margin-right: 0; } }
  .section.schedule .subsection {
    margin-top: 20px;
    padding-top: 20px;
    border-top: solid 1px #eeeeee; }
  .section.schedule .address strong {
    font-family: oswald, sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.3em;
    line-height: 1.6; }
  .section.schedule h3 {
    line-height: 1.1;
    font-size: 1.3em; }
  .section.schedule h3 strong {
    font-family: oswald, sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.3em;
    margin-right: 10px; }
  .section.schedule h3 em {
    color: #a6d01d; }

/* ----------------------------------------------------------------------------------
 */
.section.schedule .actions {
  margin-top: 20px; }
.section.schedule .actions a {
  display: inline-block;
  cursor: pointer;
  color: #606060;
  box-shadow: inset 0 0 0 2px #606060;
  border-radius: 20px;
  padding: 7px 20px;
  margin-right: 10px;
  font-size: 0.9em;
  font-family: oswald, sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .section.schedule .actions a:hover {
    background: #01bab5;
    box-shadow: none;
    color: white; }
  .section.schedule .actions a:active, .section.schedule .actions a.active {
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.2);
    color: white; }
.section.schedule .map-link:before {
  margin-right: 4px;
  font-size: 14px;
  position: relative;
  top: -1px; }
.section.schedule .ext-link:before {
  margin-right: 4px;
  font-size: 14px; }

/* ----------------------------------------------------------------------------------
 * Cards:
 */
.schedule-cards {
  display: table;
  width: 100%; }
.schedule-cards dl {
  display: table-cell;
  width: 33.3%;
  padding: 0 10px;
  vertical-align: middle;
  line-height: 1.3; }
.schedule-cards dl:first-child {
  border-left: 0;
  padding-left: 0; }
.schedule-cards dl:last-child {
  padding-right: 0; }
.schedule-cards dt {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: solid 2px #a6d01d;
  font-family: oswald, sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 1.5em;
  line-height: 1.5em;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
  .schedule-cards dt:after {
    margin-left: 10px;
    font-size: 16px;
    position: relative;
    top: -1px;
    color: #dddddd; }
@media (max-width: 768px) {
  .schedule-cards dt:after {
    display: none; } }
@media (max-width: 480px) {
  .schedule-cards dd, .schedule-cards dt {
    text-align: center; } }
.schedule-cards dl + dl dt {
  border-bottom-color: #cdd94a; }
.schedule-cards dl + dl + dl dt {
  border-bottom-color: #01bab5; }
.schedule-cards dd {
  font-family: museo-slab, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2em;
  color: #a6d01d; }
.schedule-cards dl + dl dd {
  color: #cdd94a; }
.schedule-cards dl + dl + dl dd {
  color: #01bab5; }

.ext-links a:before {
  line-height: 1em;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale; }

.ext-links a[href*='twitter.com']:before {
  content: "\f099"; }

.ext-links a[href*='facebook.com']:before {
  content: "\f09a"; }

.ext-links a:before {
  content: "\f0c1"; }

.ext-links a[href*='youtube.com']:before {
  content: "\f16a"; }

.ext-links a[href*='flickr']:before {
  content: "\f16e"; }

.ext-links a[href*='tumblr.com']:before {
  content: "\f173"; }

.ext-links a[href*='dribbble.com']:before {
  content: "\f17d"; }

/* ----------------------------------------------------------------------------------
 * Speakers section (.section.speakers):
 * Section with the speakers.
 */
.speakers {
  background: #212121;
  position: relative; }
.speakers {
  padding-top: 0; }
@media (min-width: 480px) {
  .speakers {
    padding-top: 100px; } }
@media (min-width: 768px) {
  .speakers {
    padding-top: 200px; } }
.speakers {
  padding-bottom: 20px; }
@media (min-width: 480px) {
  .speakers {
    padding-bottom: 100px; } }
@media (min-width: 768px) {
  .speakers {
    padding-bottom: 200px; } }
.speakers .heading {
  color: #cdd94a; }
.speakers .heading h2:after {
  border-top-color: #cdd94a; }
@media (min-width: 480px) {
  .speakers .heading {
    display: none; } }
@media (max-width: 480px) {
  .speakers {
    background-image: url(../images/bg-doodle-dark.jpg);
    background-size: 300px auto; } }

/* ----------------------------------------------------------------------------------
 * Scroll guides
 */
.speakers.magic {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }
  .speakers.magic .speaker:before,
  .speakers.magic .speaker:after {
    content: "";
    display: block;
    position: absolute; }
  .speakers.magic .speaker:before {
    top: 0;
    left: 15px;
    width: 10px;
    height: 100%;
    background-image: -webkit-linear-gradient(top, white 0px, rgba(0, 0, 0, 0.3) 1px, rgba(255, 255, 255, 0) 2px, rgba(255, 255, 255, 0));
    background-image: linear-gradient(to bottom, white 0px, rgba(0, 0, 0, 0.3) 1px, rgba(255, 255, 255, 0) 2px, rgba(255, 255, 255, 0));
    background-size: 20px 20px; }
  .speakers.magic .speaker:after {
    bottom: 0;
    left: 10px;
    width: 20px;
    height: 2px;
    background: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4); }

.speakers.magic .speaker {
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none; }
.speakers.magic .info.name {
  display: none; }

/* ----------------------------------------------------------------------------------
 * Background
 */
@media (max-width: 480px) {
  .speakers > .bg {
    display: none; } }
.speakers > .bg .content {
  padding-top: 40px;
  position: relative;
  z-index: 20;
  height: 100%; }
.speakers > .bg {
  background: #212121;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0; }
.speakers > .bg .item {
  position: relative;
  overflow: hidden;
  border-top: solid 2px white; }
.speakers > .bg .items {
  -webkit-transition: 600ms ease;
  -moz-transition: 600ms ease;
  transition: 600ms ease; }
.speakers > .bg .item:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
  z-index: 10;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 18, 18, 0.7));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 18, 18, 0.7)); }

/* Background fading
 */
.speakers > .bg {
  opacity: 0.01;
  -webkit-transition: opacity 500ms linear;
  -moz-transition: opacity 500ms linear;
  transition: opacity 500ms linear; }
  .section-schedule .speakers > .bg, .section-tickets .speakers > .bg, .section-speakers .speakers > .bg {
    opacity: 1; }

/* Fancy movement
 * The <html> elements gets `.section-speaker-0` classes, make it react
 * accordingly
 */
.section-speaker-0 .speakers .items {
  -webkit-transform: translate3d(0, 0%, 0);
  -moz-transform: translate3d(0, 0%, 0);
  -ms-transform: translate3d(0, 0%, 0);
  -o-transform: translate3d(0, 0%, 0);
  transform: translate3d(0, 0%, 0); }
.section-speaker-1 .speakers .items {
  -webkit-transform: translate3d(0, -16.66667%, 0);
  -moz-transform: translate3d(0, -16.66667%, 0);
  -ms-transform: translate3d(0, -16.66667%, 0);
  -o-transform: translate3d(0, -16.66667%, 0);
  transform: translate3d(0, -16.66667%, 0); }
.section-speaker-2 .speakers .items {
  -webkit-transform: translate3d(0, -33.33333%, 0);
  -moz-transform: translate3d(0, -33.33333%, 0);
  -ms-transform: translate3d(0, -33.33333%, 0);
  -o-transform: translate3d(0, -33.33333%, 0);
  transform: translate3d(0, -33.33333%, 0); }
.section-speaker-3 .speakers .items {
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }
.section-speaker-4 .speakers .items {
  -webkit-transform: translate3d(0, -66.66667%, 0);
  -moz-transform: translate3d(0, -66.66667%, 0);
  -ms-transform: translate3d(0, -66.66667%, 0);
  -o-transform: translate3d(0, -66.66667%, 0);
  transform: translate3d(0, -66.66667%, 0); }
.section-speaker-5 .speakers .items {
  -webkit-transform: translate3d(0, -83.33333%, 0);
  -moz-transform: translate3d(0, -83.33333%, 0);
  -ms-transform: translate3d(0, -83.33333%, 0);
  -o-transform: translate3d(0, -83.33333%, 0);
  transform: translate3d(0, -83.33333%, 0); }
.section-top .speakers .items {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
.section-tickets .speakers .items, .section-schedule .speakers .items {
  -webkit-transform: translate3d(0, -83.33333%, 0);
  -moz-transform: translate3d(0, -83.33333%, 0);
  -ms-transform: translate3d(0, -83.33333%, 0);
  -o-transform: translate3d(0, -83.33333%, 0);
  transform: translate3d(0, -83.33333%, 0); }

/* ----------------------------------------------------------------------------------
 * Individual speaker (.speakers.section .speaker)
 */
@media (max-width: 480px) {
  .speaker {
    margin-bottom: 10px; }
    .speaker:last-child {
      margin-bottom: 0; } }
@media (min-width: 480px) {
  .speaker {
    min-height: 750px; } }

.speaker-bio {
  background: white;
  position: relative; }
  @media (min-width: 480px) {
    .speaker-bio {
      max-width: 300px; } }

/* ----------------------------------------------------------------------------------
 * Whoisit heading
 */
.whoisit {
  color: white;
  text-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .whoisit h3 {
    font-size: 5em;
    font-family: oswald, sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .whoisit p {
    font-size: 1.1em;
    font-family: museo-slab, sans-serif;
    font-weight: 800;
    letter-spacing: -1px;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fcf4d6;
    display: inline-block;
    margin-right: 40px;
    margin-top: 20px; }
  .whoisit p:before {
    content: "";
    display: block;
    width: 20px;
    height: 1px;
    background: teal;
    margin-bottom: 10px; }
  .whoisit p:first-of-type {
    color: #cdd94a; }

.whoisit {
  position: absolute;
  bottom: 60px;
  left: 40px; }

/* ----------------------------------------------------------------------------------
 * Speaker avatar
 */
.speaker-bio .image {
  width: 140px;
  height: 140px;
  background: #b61521;
  overflow: hidden;
  position: relative;
  z-index: 10; }
@media (max-width: 480px) {
  .speaker-bio .image {
    float: right;
    width: 90px;
    height: 90px;
    margin: 20px;
    margin-top: -50px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 4px;
    background: white; }
    .speaker-bio .image, .speaker-bio .image img {
      border-radius: 50%; } }
@media (min-width: 480px) {
  .speaker-bio .image {
    position: absolute;
    top: 0;
    right: -140px; } }
.speaker-bio .image img {
  display: block;
  width: 100%;
  height: 100%; }
@media (min-width: 480px) {
  .speaker-bio .image img {
    opacity: 0.3;
    -webkit-transition: opacity 50ms linear;
    -moz-transition: opacity 50ms linear;
    transition: opacity 50ms linear; }
  .speaker-bio .image:hover img {
    opacity: 1; } }

/* Separation of subsections
 */
@media (max-width: 480px) {
  .speaker-bio .info {
    padding: 20px; }
  .speaker-bio .info + .info {
    padding-top: 0; } }
@media (min-width: 480px) {
  .speaker-bio .info {
    padding: 20px; }
  .speaker-bio .info + .info {
    border-top: solid 1px #eeeeee; } }

/* Biography
 */
.speaker-bio .bio {
  font-size: 1em; }
@media (min-width: 480px) {
  .speaker-bio .bio {
    font-size: 0.9em; } }
.speaker-bio .bio {
  line-height: 1.5; }
@media (min-width: 480px) {
  .speaker-bio .bio {
    line-height: 1.6; } }
.speaker-bio .bio p + p {
  margin-top: 10px; }
.speaker-bio h3 {
  font-family: oswald, sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.9em;
  color: #01bab5;
  line-height: 1.3; }
.speaker-bio .name p {
  font-family: museo-slab, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #a6d01d;
  line-height: 1.4; }
.speaker-bio .name p.who {
  font-weight: bold; }

/* ----------------------------------------------------------------------------------
 * External links:
 * Twitter and Facebook links and such.
 *
 *     .ext-links
 *       %a{href: 'tumblr.com/x'}
 */
.ext-links a {
  display: inline-block;
  margin-right: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: solid 2px #a6d01d;
  color: #a6d01d;
  border-radius: 50%; }
  .ext-links a:before {
    font-size: 14px;
    position: relative;
    top: -2px; }
@media (max-width: 480px) {
  .ext-links a {
    border-width: 1px; } }
.ext-links a:hover {
  background: #a6d01d;
  color: white; }
.ext-links a:active {
  background: #212121;
  border-color: #212121; }

/* ----------------------------------------------------------------------------------
 * Speaker: sample work
 */
.speaker-bio .sample-work {
  height: 250px;
  width: 100%;
  position: relative;
  overflow: hidden; }
  @media (min-width: 480px) {
    .speaker-bio .sample-work {
      display: none; } }
  .speaker-bio .sample-work:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
    z-index: 10;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.2)); }

.pass-contents strong:before, .buy-box .buy-button:after, .popup-menu a:after, .popup-menu a.bank:before, .popup-menu a.card:before {
  line-height: 1em;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale; }

.pass-contents strong:before {
  content: "\f00c"; }

.popup-menu a.card:before {
  content: "\f09d"; }

.popup-menu a.bank:before {
  content: "\f0d6"; }

.buy-box .buy-button:after, .popup-menu a:after {
  content: "\f105"; }

.section.tickets {
  background-image: url(../images/bg-doodle.jpg);
  background-size: 500px auto; }
  .section.tickets .heading h2 {
    color: #a6d01d; }

.ticket-list {
  width: 100%;
  margin-bottom: 10px; }
  @media (min-width: 480px) {
    .ticket-list {
      display: table;
      margin-bottom: 40px; }
      .ticket-list .ticket {
        display: table-cell;
        vertical-align: middle;
        width: 33.3%; } }
  .ticket-list .ticket {
    text-align: center;
    line-height: 1.2;
    background: #b61521;
    color: white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    .ticket-list .ticket {
      padding: 20px 20px; }
    @media (min-width: 480px) {
      .ticket-list .ticket {
        padding: 70px 20px; } }
    .ticket-list .ticket:after {
      content: "";
      display: table;
      clear: both; }
    .ticket-list .ticket + .ticket {
      background: #212121; }
  .ticket-list img {
    display: none; }
  .ticket-list h3 {
    font-family: oswald, sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 0.2em; }
    .ticket-list h3 {
      font-size: 1.1em; }
    @media (min-width: 480px) {
      .ticket-list h3 {
        font-size: 1.3em; } }
  .ticket-list p.price {
    font-family: oswald, sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    .ticket-list p.price {
      font-size: 2.5em; }
    @media (min-width: 480px) {
      .ticket-list p.price {
        font-size: 3.2em; } }
    @media (min-width: 768px) {
      .ticket-list p.price {
        font-size: 3.7em; } }
  .ticket-list p.extra {
    line-height: 1.5;
    font-size: 0.9em; }
    @media (min-width: 480px) {
      .ticket-list p.extra:before {
        content: "";
        display: block;
        width: 100%;
        height: 0;
        width: 40px;
        border-top: solid 1px white;
        opacity: 0.5;
        margin: 20px auto 30px auto; } }
  @media (max-width: 480px) {
    .ticket-list h3 {
      margin-bottom: 5px; }
    .ticket-list h3, .ticket-list p.price {
      text-align: left; }
    .ticket-list p.price {
      float: left; }
    .ticket-list p.extra {
      text-align: right;
      font-size: 0.85em;
      float: right;
      margin-left: 10px;
      margin-top: 5px; } }

/* ----------------------------------------------------------------------------------
 * Pass contents and buy
 */
.buy-row:after {
  content: "";
  display: table;
  clear: both; }
.buy-row .pass-contents, .buy-row .buy-box {
  margin-bottom: 20px; }
@media (min-width: 480px) {
  .buy-row .pass-contents {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .buy-row .pass-contents:last-child {
      margin-right: 0; }
  .buy-row .buy-box {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-right: 0;
    float: right; }
    .buy-row .buy-box:last-child {
      margin-right: 0; } }

.pass-contents h3 {
  font-family: oswald, sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6em; }
.pass-contents strong {
  font-family: oswald, sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 20px;
  color: #84a617; }
  .pass-contents strong:before {
    margin-right: 8px;
    font-size: 14px;
    position: relative;
    top: -1px;
    color: #01bab5; }
.pass-contents small {
  font-size: 0.9em; }
.pass-contents li {
  margin-top: 10px; }
@media (max-width: 480px) {
  .pass-contents strong, .pass-contents small {
    display: block; } }

/* ----------------------------------------------------------------------------------
 * Buy box
 */
.buy-box {
  position: relative; }
  .buy-box .buy-button {
    display: inline-block;
    cursor: pointer;
    color: #606060;
    box-shadow: inset 0 0 0 3px #606060;
    display: block;
    padding: 15px 40px;
    width: 100%;
    text-align: center;
    color: #30303a;
    font-family: oswald, sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.6em; }
    .buy-box .buy-button:hover {
      background: #01bab5;
      box-shadow: none;
      color: white; }
    .buy-box .buy-button:active, .buy-box .buy-button.active {
      box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.2);
      color: white; }
    .buy-box .buy-button:after {
      margin-left: 8px;
      font-size: 1em;
      position: relative;
      top: -0.15em; }
  .buy-box p.hint {
    margin-top: 8px;
    color: #888888;
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 10px; }
  .buy-box .or {
    display: none; }
  .buy-box .popup-menu {
    position: absolute;
    width: 100%;
    top: -15px;
    opacity: 0;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transition: 100ms ease;
    -moz-transition: 100ms ease;
    transition: 100ms ease; }
  .buy-box:hover .popup-menu {
    display: block;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  .touch .buy-box .popup-menu {
    margin-top: 10px;
    position: static;
    display: block;
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  .touch .buy-box .hint {
    display: none; }

/* ----------------------------------------------------------------------------------
 * Popup menu
 */
.popup-menu {
  padding: 5px 0;
  background: #01bab5;
  border-radius: 3px; }
  .popup-menu li {
    display: block; }
  .popup-menu a {
    display: block;
    padding: 15px 20px;
    color: white;
    font-weight: bold; }
    .popup-menu a:after {
      font-size: 1em;
      position: relative;
      top: 0.2em; }
  .popup-menu a:after {
    float: right; }
  .popup-menu a:hover {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    background: #009490;
    color: white; }
  .popup-menu a.bank:before {
    margin-right: 15px;
    font-size: 14px; }
  .popup-menu a.card:before {
    margin-right: 15px;
    font-size: 14px; }

/* ----------------------------------------------------------------------------------
 * Pass reminders
 */
.pass-reminders {
  color: #999999;
  font-size: 0.85em; }
  .pass-reminders li {
    margin-bottom: 5px; }
  @media (min-width: 480px) {
    .pass-reminders {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      border-top: solid 1px #cccccc;
      margin-top: 40px;
      padding-top: 10px; }
      .pass-reminders:last-child {
        margin-right: 0; } }

/* ----------------------------------------------------------------------------------
 * Main title (.title-card.section):
 * The top section.
 */
.title-card {
  background-color: #b61521;
  color: #fcf4d6;
  text-shadow: 0 0 5px #b61521;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  border-bottom: solid 2px #212121; }
  .title-card .bg {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  @media (max-width: 480px) {
    .title-card {
      background-image: url(../images/bg-title-m.jpg);
      background-size: 100% auto;
      background-position: center top;
      background-repeat: no-repeat; }
      .title-card .bg {
        display: none; } }
  .title-card .content {
    position: relative;
    z-index: 5;
    padding-top: 40px;
    padding-bottom: 40px; }
    @media (max-width: 480px) {
      .title-card .content {
        padding-bottom: 20px; } }

/* ----------------------------------------------------------------------------------
 * Title logo
 * The logo image thing.
 */
.title-card .logo {
  width: 290px; }
@media (min-width: 480px) {
  .title-card .logo {
    width: 300px; } }
@media (min-width: 768px) {
  .title-card .logo {
    width: 400px; } }
.title-card .logo {
  height: 99.6875px; }
@media (min-width: 480px) {
  .title-card .logo {
    height: 103.125px; } }
@media (min-width: 768px) {
  .title-card .logo {
    height: 137.5px; } }
.title-card .logo .styled, .title-card .logo .normal {
  display: none; }
@media (max-width: 480px) {
  .title-card .logo {
    margin: 50px auto 80px auto; }
    .title-card .logo .styled {
      display: block; } }
@media (min-width: 480px) {
  .title-card .logo {
    margin-left: auto;
    margin-bottom: 300px; }
    .title-card .logo .normal {
      display: block; } }
@media (min-width: 768px) {
  .title-card .logo {
    margin-bottom: 400px; } }
.title-card .logo img {
  width: 100%; }

/* ----------------------------------------------------------------------------------
 * Share links:
 * Facebook and twitter buttons.
 */
.share-links > * {
  display: inline-block; }
.share-links {
  text-shadow: none; }
@media (min-width: 480px) {
  .share-links {
    background: white;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    height: 40px;
    max-width: 280px; } }
@media (min-width: 480px) {
  .share-links {
    position: absolute;
    top: 40px;
    left: 40px; } }
@media (max-width: 480px) {
  .share-links {
    margin: 20px auto;
    text-align: center; } }

/* ----------------------------------------------------------------------------------
 * Details:
 * "Conference on creativity" etc
 */
.title-card .details {
  clear: both; }
  .title-card .details:after {
    content: "";
    display: table;
    clear: both; }
  .title-card .details {
    margin-top: 40px; }

.title-card .detail {
  border-top: solid 2px #ff6555;
  margin-right: 20px;
  padding-top: 10px;
  line-height: 1.4;
  padding-bottom: 20px; }
@media (min-width: 480px) {
  .title-card .detail {
    padding-bottom: 40px; } }
.title-card .detail em, .title-card .detail strong {
  display: block; }
.title-card .detail strong, .title-card .detail h2 {
  font-family: oswald, sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block; }
  .title-card .detail strong, .title-card .detail h2 {
    font-size: 1.2em; }
  @media (min-width: 480px) {
    .title-card .detail strong, .title-card .detail h2 {
      font-size: 1.3em; } }
  @media (min-width: 768px) {
    .title-card .detail strong, .title-card .detail h2 {
      font-size: 1.6em; } }
.title-card .detail em {
  font-family: museo-slab, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #a6d01d;
  font-size: 1.1em; }
  @media (max-width: 480px) {
    .title-card .detail em {
      color: #ff6555; } }

/* ----------------------------------------------------------------------------------
 * Arrangements
 */
.title-card .detail.date, .title-card .detail.venue {
  float: left; }
  .title-card .detail.date, .title-card .detail.venue {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 48.21067%; }
    .title-card .detail.date:last-child, .title-card .detail.venue:last-child {
      margin-right: 0; }
  @media (min-width: 480px) {
    .title-card .detail.date, .title-card .detail.venue {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .title-card .detail.date:last-child, .title-card .detail.venue:last-child {
        margin-right: 0; } }
  @media (min-width: 768px) {
    .title-card .detail.date, .title-card .detail.venue {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .title-card .detail.date:last-child, .title-card .detail.venue:last-child {
        margin-right: 0; } }
.title-card .detail.date {
  clear: both; }
.title-card .detail.summary {
  margin-bottom: 10px; }
@media (min-width: 480px) {
  .title-card .detail.summary {
    margin-bottom: 40px; } }
@media (min-width: 768px) {
  .title-card .detail.summary {
    margin-bottom: 60px; } }
@media (max-width: 480px) {
  .title-card .detail.summary {
    margin-right: 0; } }
@media (min-width: 480px) {
  .title-card .detail.summary {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .title-card .detail.summary:last-child {
      margin-right: 0; } }
@media (min-width: 768px) {
  .title-card .detail.summary {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .title-card .detail.summary:last-child {
      margin-right: 0; } }

/* ----------------------------------------------------------------------------------
 * Summary
 * "Conference on creativity"
 */
.title-card .detail.summary {
  line-height: 1.3; }
.title-card .detail.summary h2 {
  font-family: museo-slab, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .title-card .detail.summary h2 {
    font-size: 1em; }
  @media (min-width: 480px) {
    .title-card .detail.summary h2 {
      font-size: 1.2em; } }
  @media (min-width: 768px) {
    .title-card .detail.summary h2 {
      font-size: 1.5em; } }
.title-card .detail.summary em {
  font-family: oswald, sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.1;
  margin-top: 0.1em;
  color: #a6d01d; }
  .title-card .detail.summary em {
    font-size: 2em; }
  @media (min-width: 480px) {
    .title-card .detail.summary em {
      font-size: 3em; } }
  @media (min-width: 768px) {
    .title-card .detail.summary em {
      font-size: 4.1em; } }
  .title-card .detail.summary em {
    line-height: 1.3; }
  @media (min-width: 480px) {
    .title-card .detail.summary em {
      line-height: 1.2; } }
  @media (min-width: 768px) {
    .title-card .detail.summary em {
      line-height: 1.1; } }


/*# sourceMappingURL=app.css.map*/